/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

#navigation {
  top: 0;
}

body.page-foreword .section-wrapper.general-page.the-breadcrumbs {
  padding-top: 64px;
  margin-bottom: 0;
}

.section-wrapper.general-page.the-breadcrumbs {
  margin-bottom: 40px;
}
.section-wrapper.general-page.the-breadcrumbs.no-cover-image {
  padding-top: 64px;
  margin-bottom: 0;
}
.section-wrapper.general-page .breadcrumbs {
  text-transform: uppercase;
  color: #233C87;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-size: 12px;
}
.section-wrapper.general-page .breadcrumbs a {
  color: #233C87;
  font-weight: 800;
}
.section-wrapper.general-page .foreword-holder {
  width: 800px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.section-wrapper.general-page .foreword-holder .foreword-author {
  margin-bottom: 20px;
}
.section-wrapper.general-page .foreword-holder .foreword-author .author-description {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
}
.section-wrapper.general-page .foreword-holder .foreword-author .author-description .holder h2 {
  font-weight: normal;
  color: #233C87;
  line-height: 100%;
  text-transform: uppercase;
}
.section-wrapper.general-page .foreword-holder .foreword-author .author-description .holder h4 {
  color: #1D7FC3;
  margin: 0;
  line-height: 100%;
  font-size: 0.925rem;
}
.section-wrapper.general-page .foreword-holder .foreword-author .author-photo figure img {
  transform: scaleX(-1);
}
.section-wrapper.general-page .foreword-holder .foreword-content {
  color: #605E5E;
  margin-bottom: 40px;
}
.section-wrapper.general-page .foreword-holder .foreword-content strong {
  color: #233C87;
}
.section-wrapper.general-page .foreword-holder .foreword-content p {
  text-align: justify;
  font-size: 12px;
}
.section-wrapper.general-page .foreword-holder .foreword-content hr {
  display: block;
  clear: both;
  float: none;
}
.section-wrapper.general-page .foreword-holder .foreword-content h1, .section-wrapper.general-page .foreword-holder .foreword-content h2, .section-wrapper.general-page .foreword-holder .foreword-content h3, .section-wrapper.general-page .foreword-holder .foreword-content h4, .section-wrapper.general-page .foreword-holder .foreword-content h5, .section-wrapper.general-page .foreword-holder .foreword-content h6 {
  color: #233C87;
  font-weight: bold;
}
.section-wrapper.general-page .foreword-holder .foreword-sign {
  margin-bottom: 40px;
}
.section-wrapper.general-page .foreword-holder .foreword-sign > * {
  margin: 0;
  line-height: 150%;
}
.section-wrapper.general-page .foreword-holder .foreword-sign h5 {
  font-weight: bold;
  color: #233C87;
}
.section-wrapper.general-page .foreword-holder .foreword-sign h6 {
  color: #1D7FC3;
  font-style: italic;
  font-weight: normal;
}
.section-wrapper.general-page.article-holder {
  width: 800px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.section-wrapper.general-page.article-holder .article-heading {
  text-align: center;
}
.section-wrapper.general-page.article-holder .article-heading h1 {
  font-size: 2rem;
  color: #233C87;
}
.section-wrapper.general-page.article-holder .article-heading h1 span {
  color: #1D7FC3;
}
.section-wrapper.general-page.article-holder .article-heading h2 {
  font-size: 0.9rem;
  color: #1D7FC3;
}
.section-wrapper.general-page.article-holder .the-content {
  color: #605E5E;
}
.section-wrapper.general-page.article-holder .the-content strong {
  color: #233C87;
}
.section-wrapper.general-page.article-holder .the-content p {
  text-align: justify;
  font-size: 12px;
}
.section-wrapper.general-page.article-holder .the-content hr {
  display: block;
  clear: both;
  float: none;
}
.section-wrapper.general-page.article-holder .the-content h1, .section-wrapper.general-page.article-holder .the-content h2, .section-wrapper.general-page.article-holder .the-content h3, .section-wrapper.general-page.article-holder .the-content h4, .section-wrapper.general-page.article-holder .the-content h5, .section-wrapper.general-page.article-holder .the-content h6 {
  color: #233C87;
  font-weight: bold;
}
.section-wrapper.general-page.bilateral .article-heading {
  max-width: 480px;
  padding: 15px 0;
  margin: 0 auto 20px;
  border-top: 1px solid #5DA9DD;
  border-bottom: 1px solid #5DA9DD;
}
.section-wrapper.general-page.bilateral .article-heading h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
}
.section-wrapper.general-page.contact-content {
  width: 800px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.section-wrapper.general-page.contact-content .contact-heading {
  margin-bottom: 20px;
}
.section-wrapper.general-page.contact-content .contact-heading > * {
  display: inline-block;
  margin: 0;
  line-height: 150%;
  color: #233C87;
}
.section-wrapper.general-page.contact-content .contact-heading h2 {
  font-size: 1.8rem;
  padding-right: 20px;
}
.section-wrapper.general-page.contact-content .contact-heading h4 {
  font-weight: bold;
  font-size: 1.2rem;
}
.section-wrapper.general-page.contact-content .contact-list {
  width: 640px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-wrapper.general-page.contact-content .contact-list .contact-detail {
  width: 48%;
  font-size: 11px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.section-wrapper.general-page.contact-content .contact-list .contact-detail figure {
  width: 42px;
}
.section-wrapper.general-page.contact-content .contact-list .contact-detail .detail {
  width: calc(100% - 42px - 20px);
  color: #605E5E;
  font-size: 10px;
}
.section-wrapper.general-page.contact-content .contact-list .contact-detail .detail * {
  line-height: 180%;
}
.section-wrapper.general-page.contact-content .contact-list .contact-detail .detail h5 {
  font-size: 10px;
  color: #233C87;
  font-weight: bold;
  margin: 0;
}
.section-wrapper.general-page.contact-content .contact-list .contact-detail .detail p {
  margin: 0;
}
.section-wrapper.general-page.contact-content .contact-list .contact-detail .detail span.info {
  display: block;
}
.section-wrapper.general-page.contact-content .contact-list .contact-detail .detail span.info .prefix {
  position: relative;
  display: inline-block;
  width: 6px;
  padding-right: 6px;
  margin-right: 3px;
}
.section-wrapper.general-page.contact-content .contact-list .contact-detail .detail span.info .prefix:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  border-right: 1px solid #1D7FC3;
  height: 18px;
}

.post-cover-image {
  margin-top: 50px;
  margin-bottom: 40px;
  position: relative;
}
.post-cover-image figure {
  margin-bottom: 0;
}
.post-cover-image .caption-holder {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 40px 0 20px;
  background: rgba(255, 255, 255, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(0%, rgba(246, 246, 246, 0)), color-stop(55%, rgba(0, 0, 0, 0.73)), color-stop(75%, black));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0) 0%, rgba(0, 0, 0, 0.73) 55%, black 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#000000", GradientType=0 );
}
.post-cover-image .caption-holder .caption {
  width: 640px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 12px;
  color: white;
}
.post-cover-image.bilateral {
  margin-bottom: 0;
}
.post-cover-image.bilateral .caption-holder {
  top: 0;
  padding: 0;
  background: none !important;
  background-color: transparent !important;
}
.post-cover-image.bilateral .caption-holder .caption {
  width: 640px;
  padding: 80px 0 60px;
  margin-left: auto;
  text-align: left;
}
.post-cover-image.bilateral .caption-holder .caption .flags {
  margin-bottom: 20px;
}
.post-cover-image.bilateral .caption-holder .caption .flags span {
  display: inline-block;
  width: 48px;
  margin-right: 10px;
}
.post-cover-image.bilateral .caption-holder .caption h3 {
  margin: 0;
  color: #233C87;
  font-weight: bold;
  font-size: 2rem;
  line-height: 100%;
}
.post-cover-image.bilateral .caption-holder .caption p {
  color: #233C87;
  font-weight: bold;
  line-height: 135%;
}

.asean-nation-flags {
  position: relative;
  border-bottom: 6px solid #5DA9DD;
  margin-bottom: 40px;
}
.asean-nation-flags .holder {
  position: absolute;
  width: 720px;
  display: flex;
  background-color: #5DA9DD;
  padding: 10px 20px 30px;
  border-radius: 16px;
  bottom: -20px;
  left: calc((100% - 720px) / 2);
  justify-content: space-around;
}
.asean-nation-flags .holder .flag {
  width: 38px;
}
.asean-nation-flags .holder .flag img {
  width: 100%;
  height: auto;
}
.asean-nation-flags .holder .flag.active {
  position: relative;
  width: 90px;
}
.asean-nation-flags .holder .flag.active img {
  position: absolute;
  max-width: none;
  bottom: 0;
}

.foreword-separator {
  position: relative;
  height: 130px;
  margin-bottom: 40px;
}
.foreword-separator:after {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 130px;
  background-image: url("../images/img_pattern_honeycomb.svg");
  background-repeat: repeat-x;
}

@media screen and (max-width: 960px) {
  .section-wrapper {
    max-width: 95%;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .section-wrapper .foreword-author {
    flex-flow: column-reverse;
  }
  .section-wrapper .foreword-author .uk-first-column {
    margin-top: 20px;
  }

  .bilateral.post-cover-image .caption-holder .caption {
    text-align: center;
    padding: 48px 0 0;
  }
  .bilateral.post-cover-image .caption-holder .caption .flags span {
    width: 32px;
    margin: 0 4px;
  }
  .bilateral.post-cover-image .caption-holder .caption h3 {
    font-size: 1.2rem;
  }
  .bilateral.post-cover-image .caption-holder .caption p {
    margin: 0.5rem 0;
    font-size: 0.7rem;
  }

  .bilateral.asean-nation-flags .holder {
    width: 640px;
    padding: 10px;
    left: calc((100% - 640px) / 2);
  }
}
@media screen and (max-width: 480px) {
  .post-cover-image .caption-holder {
    padding: 0;
  }

  .section-wrapper.general-page.contact-content .contact-list {
    justify-content: space-around;
  }
  .section-wrapper.general-page.contact-content .contact-list .contact-detail {
    width: 80%;
  }

  .bilateral.post-cover-image .caption-holder .caption {
    text-align: center;
    padding: 24px 0 0;
  }
  .bilateral.post-cover-image .caption-holder .caption .flags {
    margin-bottom: 0.5rem;
  }
  .bilateral.post-cover-image .caption-holder .caption h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .bilateral.post-cover-image .caption-holder .caption p {
    margin: 0.3rem 0;
    font-size: 0.6rem;
  }

  .bilateral.asean-nation-flags .holder {
    display: none;
  }
}