$top_menu_height: 64px;

$color_main_blue: #233C87;
$color_sub_blue: #1D7FC3;
$color_light_blue: #5DA9DD;
$color_body: #605E5E;

$size_margin:20px;
$main_title_size:2rem;
$sub_title_size:0.9rem;
$content_size:12px;
