@import 'variables';
@import 'wordpress';

@mixin content-style {
    color: $color_body;
    strong {
        color: $color_main_blue;
    }

    p {
        text-align: justify;
        font-size: $content_size;
    }

    hr {
        display: block;
        clear: both;
        float: none;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $color_main_blue;
        font-weight: bold;
    }
}

#navigation {
    top: 0;
}

body.page-foreword {
    .section-wrapper.general-page.the-breadcrumbs{
        padding-top: $top_menu_height;
        margin-bottom: 0;
    }
}

.section-wrapper.general-page {

    &.the-breadcrumbs{
        margin-bottom: $size_margin * 2;
        &.no-cover-image {
            padding-top: $top_menu_height;
            margin-bottom: 0;
        }
    }

    .breadcrumbs {
        text-transform: uppercase;
        color : $color_main_blue;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $size_margin * 2;
        font-size: 12px;
        a {
            color : $color_main_blue;
            font-weight: 800;
        }
    }

    .foreword-holder {
        width: 800px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;

        .foreword-author {

            margin-bottom:$size_margin;

            .author-description {

                display:flex;
                align-items:flex-end;
                flex-direction:row;

                .holder {

                    h2 {
                        font-weight: normal;
                        color: $color_main_blue;
                        line-height: 100%;
                        text-transform: uppercase;
                    }
                    h4 {
                        color: $color_sub_blue;
                        margin: 0;
                        line-height: 100%;
                        font-size: 0.925rem;
                    }
                }
            }

            .author-photo {
                figure {
                    img {
                        -webkit-transform: scaleX(-1);
                         transform: scaleX(-1);
                    }
                }
            }
        }

        .foreword-content {
            @include content-style;
            margin-bottom: $size_margin * 2;
        }
        .foreword-sign {
            > * {
                margin: 0;
                line-height: 150%;
            }
            h5 {
                font-weight: bold;
                color: $color_main_blue
            }
            h6 {
                color: $color_sub_blue;
                font-style: italic;
                font-weight: normal;
            }
            margin-bottom: $size_margin * 2;
        }
    }

    &.article-holder {
        width: 800px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;

        .article-heading {

            text-align: center;

            h1 {
                font-size: $main_title_size;
                color: $color_main_blue;
                span {
                    color: $color_sub_blue;
                }
            }

            h2 {
                font-size: $sub_title_size;
                color: $color_sub_blue;
            }
        }

        .the-content {
            @include content-style;
        }
    }

    &.bilateral {
        .article-heading  {
            max-width: 480px;
            padding: $size_margin * 0.75 0 ;
            margin: 0 auto $size_margin;
            border-top: 1px solid $color_light_blue;
            border-bottom: 1px solid $color_light_blue;
            h1 {
                font-size: $main_title_size * 1.2;
                text-transform: uppercase;
            }
        }
    }

    &.contact-content {

        width: 800px;
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $size_margin;

        .contact-heading {
            > * {
                display: inline-block;
                margin: 0;
                line-height: 150%;
                color:$color_main_blue;
            }
            h2 {
                font-size: 1.8rem;
                padding-right: $size_margin;
            }

            h4 {
                font-weight: bold;
                font-size: 1.2rem;
            }

            margin-bottom: $size_margin;
        }

        .contact-list {
            width: 640px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .contact-detail {
                width: 48%;
                font-size: 11px;
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;
                margin-bottom: $size_margin;

                figure {
                    width: 42px;
                }
                .detail {
                    width: calc(100% - 42px - #{$size_margin});
                    color: $color_body;
                    font-size: 10px;

                    * {
                        line-height: 180%;
                    }
                    h5 {
                        font-size: 10px;
                        color: $color_main_blue;
                        font-weight: bold;
                        margin: 0;
                    }

                    p {
                        margin: 0;
                    }

                    span.info {
                        display: block;
                        .prefix {
                            position: relative;
                            display: inline-block;
                            width: 6px;
                            padding-right: 6px;
                            margin-right: 3px;
                            &:after {
                                content:" ";
                                position: absolute;
                                top:0;
                                right : 0;
                                border-right: 1px solid $color_sub_blue;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.post-cover-image {
    margin-top: 50px;
    margin-bottom: $size_margin * 2;
    position: relative;

    figure {
        margin-bottom: 0;
    }

    .caption-holder {

        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: $size_margin * 2 0 $size_margin;
        background: rgba(255,255,255,0);
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(0,0,0,0.73) 55%, rgba(0,0,0,1) 75%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(0%, rgba(246,246,246,0)), color-stop(55%, rgba(0,0,0,0.73)), color-stop(75%, rgba(0,0,0,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(0,0,0,0.73) 55%, rgba(0,0,0,1) 75%);
        background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(0,0,0,0.73) 55%, rgba(0,0,0,1) 75%);
        background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(0,0,0,0.73) 55%, rgba(0,0,0,1) 75%);
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(246,246,246,0) 0%, rgba(0,0,0,0.73) 55%, rgba(0,0,0,1) 75%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );

        .caption {
            width: 640px;
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: $content_size;
            color: white;
        }
    }

    &.bilateral {
        margin-bottom: 0;
        .caption-holder {
            top: 0;
            padding: 0;
            background: none!important;
            background-color: transparent!important;

            .caption {
                width: 640px;
                padding: $size_margin * 4 0 $size_margin * 3;
                margin-left: auto;
                text-align: left;

                .flags {
                    span {
                        display: inline-block;
                        width: 48px;
                        margin-right: $size_margin / 2;
                    }
                    margin-bottom: $size_margin;
                }

                h3 {
                    margin: 0;
                    color: $color_main_blue;
                    font-weight: bold;
                    font-size: 2rem;
                    line-height: 100%;
                }

                p {
                    color: $color_main_blue;
                    font-weight: bold;
                    line-height: 135%;
                }
            }
        }
    }
}

.asean-nation-flags {
    position: relative;
    border-bottom: 6px solid $color_light_blue;
    margin-bottom: $size_margin * 2;
    .holder {
        position: absolute;
        width: 720px;
        display: flex;
        background-color: $color_light_blue;
        padding: 10px 20px 30px;
        border-radius: 16px;
        bottom: -20px;
        left: calc((100% - 720px) / 2);
        justify-content: space-around;
        .flag {
            width: 38px;
            img {
                width: 100%;
                height: auto;
            }

            &.active {
                position: relative;
                width: 90px;
                img {
                    position: absolute;
                    max-width: none;
                    bottom: 0;
                }
            }
        }
    }
}

.foreword-separator {
    position: relative;
    height: 130px;
    margin-bottom: $size_margin * 2;

    &:after {
        display: block;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 130px;
        background-image: url('../images/img_pattern_honeycomb.svg');
        background-repeat: repeat-x;
    }
}

@media screen and (max-width:960px) {
    .section-wrapper  {
        max-width: 95%;
        width: 720px;
        margin-left: auto;
        margin-right: auto;

        .foreword-author{
            flex-flow: column-reverse;
            .uk-first-column {
                margin-top: $size_margin;
            }
        }
    }

    .bilateral.post-cover-image .caption-holder .caption{
        text-align: center;
        padding: 48px 0 0;
        .flags span {
            width: 32px;
            margin: 0 4px;
        }
        h3 {
            font-size: 1.2rem;
        }

        p {
            margin: 0.5rem 0;
            font-size: 0.7rem;
        }
    }

    .bilateral.asean-nation-flags .holder {
        width: 640px;
        padding: 10px;
        left: calc((100% - 640px) / 2);
    }
}

@media screen and (max-width:480px) {
    .post-cover-image .caption-holder {
        padding: 0;
    }

    .section-wrapper.general-page.contact-content .contact-list {
        justify-content: space-around;
        .contact-detail {
            width: 80%;
        }
    }

    .bilateral.post-cover-image .caption-holder .caption{
        text-align: center;
        padding: 24px 0 0;

        .flags {
            margin-bottom: 0.5rem;
        }
        h3 {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }

        p {
            margin: 0.3rem 0;
            font-size: 0.6rem;
        }
    }

    .bilateral.asean-nation-flags .holder {
        display: none;
    }
}
